<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645181315486-j7n2866p2p8pk8t32agk5knbi7o9em1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645181315486-j7n2866p2p8pk8t32agk5knbi7o9em1r</string>
	<key>API_KEY</key>
	<string>AIzaSyC_5zxhMjS5LK_DD3EUrYYDEUc1Z8Xm2m8</string>
	<key>GCM_SENDER_ID</key>
	<string>645181315486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vitali.PizzaShop</string>
	<key>PROJECT_ID</key>
	<string>pizzashop-1ca9d</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzashop-1ca9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645181315486:ios:43a44a5f4b3c3b65d09e8f</string>
</dict>
</plist>